# Python source specific
__pycache__/
*.__pycache__/
*.py[cod]
*$py.class

# Test cache
.pytest_cache/
.coverage
coverage.xml
*.cover
test
logs
app.log

# Local development
*.log
.env
config.local.yaml

# IDE workspace specific
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
